<%- include('../components/header.ejs'); %>

<div class="container">
  <div class="text-center">
    <h1 class="">Rate Your Experience</h1>
  </div>

  <div class="row justify-content-center">

    <div class="col-lg-6 col-md-10 col-sm-10"> 
<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ur7sluxh.json"  background="transparent" 
  speed="1"  style="width: 400px; height: 450px; margin: 0;"  loop autoplay></lottie-player>
    </div>

    <form method="post" class="col-lg-6 col-md-10 col-sm-10 backcolor mt-5">
      <select
        style="background-color: #e0d6c8; font-size: 22px; margin-top: 70px;"
        id="rating"
        name="rating"
        class="form-control"
        required
      >
        <option value="" selected disabled hidden>Click to Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <div class="row justify-content-center my-5">
        <div class="col-auto">
          <button type="submit" id="submitButton" class="btn btn-primary">
            <i class="fas fa-edit fa-lg"></i> Submit
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-warning">
            <a
              href="/customer/businesslist"
              id="cancelButton"
              class="update-button"
              ><i class="fas fa-undo"></i> Cancel</a
            >
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<%- include('../components/footer.ejs'); %>
