<!-- Yash Kachhiyapatel (301171192) - 18-June-2021 -->
<!-- navigation (footer portion) -->

   <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid text-center">
      <h5 class="text-white">&copy; yashkachhiyapatel</h5>
    </div>
  </nav>