

   <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid text-center">
      <h5 class="text-white">&copy; Transactions-Website</h5>
    </div>
  </nav>

   
  <!-- JavaScript Section -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>