<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css">
</head>


<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
      <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wmnfnun7.json"  background="transparent" 
       speed="1"  style="width: 120px; height: 50px; margin: 0%; padding: 0%;" hover loop autoplay></lottie-player>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item">      
         <% if (page === 'home'){ %>
              <a class="nav-link active" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
          <% } else { %>
           <a class="nav-link" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
          <% } %>
         
          </li>

         <li class="nav-item">      
         <% if (page === 'about'){ %>
              <a class="nav-link active" href="/about"><i class="fas fa-info fa-lg"></i> About</a>
          <% } else { %>
          <a class="nav-link" href="/about"><i class="fas fa-info fa-lg"></i> About</a>
          <% } %>
         
          </li>

         

        


          <li class="nav-item">      
         <% if (page === 'contact'){ %>
             <a class="nav-link active" href="/contact"><i class="fas fa-phone fa-lg"></i> Contact</a>
          <% } else { %>
           <a class="nav-link" href="/contact"><i class="fas fa-phone fa-lg"></i> Contact</a>
          <% } %>         
          </li>

        
          
           <% if(displayName) { %>
            <li class="navbar-text px-3 "><a href="/owner" class="account-name"><i class="fas fa-lg fa-user"></i>&nbsp;&nbsp;&nbsp;<%= displayName %></a></li>

            <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
          </li>    
          
           <% } else { %>

            <li class="nav-item">      
          <% if (page === 'login'){ %>
             <a class="nav-link active" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
          <% } else { %>
             <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
          <% } %>         
          </li>
           <% } %>
          
        </ul>
      </div>
    </div>
  </nav>