
<!-- main page to render other pages -->


  <!-- Navigation Section -->
  <header>
    <%- include('components/header.ejs'); %>
  </header>

  <!-- Main Content Section -->
  <main>
      <%- include('content/' + page + '.ejs'); %>

  </main>
  
  <!-- Bottom Nav -->
  <footer>
    <%- include('components/footer.ejs'); %>
  </footer>
   
