
<section id="fancy-form">
   <div class="container">
    <div class="form-sections">

      <div class="Form-left">
        <h1>Get In Touch</h1>
        <p>Contact me for latest news and updates. <span> :)</span></p><br>

     
        <h4>ADDRESS</h4>
         <span>2383, Main Street,Gujarat, India</span>
         <hr><br>

     
        <h4>PHONE</h4>
         <span>(+91) 9662954887</span>
         <hr><br>

      
        <h4>EMAIL</h4>
         <span>lifeline242734@gmail.com</span>
         <hr> <br>

        
           <div class="sm contact-icon">
            <a href="https://www.facebook.com/profile.php?id=100006303074983"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/in/yashkachhiyapatel-006627168/"><i class="fab fa-linkedin"></i></a>
            <a href="https://youtube.com/playlist?list=PLX9T39wPzJhdIRG9nbmDFBZ8ErboSUHiF"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/yash_192/"><i class="fab fa-instagram"></i></a>          
          </div>
      </div>
     
      <div class="Form-right">
        <h1>Contact Me</h1>
      
        <form action="/home">

          
          <input type="text" placeholder="First Name"><br><br>  
          <input type="text" placeholder="Last Name"> <br><br>          
          <input type="email" placeholder="Enter Your Email"><br><br>
          <input type="number" placeholder="Enter Mobile Number"><br><br>
          <textarea name="" id="" cols="50" rows="3" placeholder="Enter Message"></textarea><br>
          <button>Send</button>
        </form>
      </div>
    </div>
    </div>
  </section>

  
  
