<div class="container mt-3">

  <div class="text-center">
  <h2 >Error!! Something is not right. Go Back!</h2>
</div>

<div class="text-center mt-5">
  <a  href="/login">
    <button type="button" class="btn btn-primary btn-lg">Back</button>
  </a>
</div> 
  
</div>