
     
  <div class="container mt-4">
    <div class="shadow-lg  bg-white rounded">



      <div class="row text-center">

        <div class="col-xl-8 col-sm-12 col-12 mb-2 d-flex justify-content-center flex-column small-index">
          <div class="typewriter">
            <h1 >Keep Transactions Stored</h1>
          </div>
          <div>
            <p>Store Expenses with no Worries!</p>
          </div>
          <div>
            <a href="/about" class="btn btn-primary">About Website</a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-12 col-12 mb-2 mt-2">
          <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_ltuqrtmn.json" background="transparent"
            speed="1" class="small-screen" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
        </div>

      </div>

    </div>
  </div>



