
     
  <div class="container mt-4">
    <div class="shadow-lg  bg-white rounded">



      <div class="row text-center">

        <div class="col-xl-8 col-sm-12 col-12 mb-2 d-flex justify-content-center flex-column small-index">
          <div class="typewriter">
            <h1 >Welcome in TransactionApp</h1>
          </div>
          <div class="mt-2">
            <p>Keep Transactions Stored</p>
            <p>Store Expenses With No Worries!</p>
          </div>
          <div>
            <a href="https://docs.google.com/uc?export=download&id=1AEW2DW8PYGNH_ALfK-dc7iLp86mH7oOR" class="btn btn-primary">About Website</a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-12 col-12 mb-2 mt-2">

          <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_ltuqrtmn.json" background="transparent"
          speed="1" class="small-screen" style="width: 500px; height: 600px;" loop autoplay></lottie-player>
            
        </div>

      </div>

    </div>
  </div>



